%h1 Experts List

%table.table
  %thead
    %tr
      %th Name
      %th Shortened Url
      %th
      %th
      %th

  %tbody
    - @experts.each do |expert|
      %tr
        %td= expert.name
        %td= short_url(expert.url)
        %td= link_to 'Show', expert
        %td= link_to 'Edit', edit_expert_path(expert)
        %td= link_to 'Destroy', expert, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to new_expert_path do
  .btn.btn-primary New Expert
