%p#notice= notice

.card
  .card-header
    Profile
  .card-body

    %h5.card-title
      = @expert.name
    Short URL:
    = link_to short_url(@expert.url)
    %br
    Long URL:
    = link_to @expert.url

    %hr
    %h5 Friends

    %hr
    %h5 Heading Tags

    %table.table
      %thead
        %tr
          %th Tag
          %th URL
          %th

      %tbody
        - @tags.each do |tag|
          %tr
            %td= tag.tag
            %td= tag.url
            %td= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' }

  .card-footer
    = link_to experts_path do
      .btn.btn-primary Back
